/* GESTION DES 4 PREMIERES BOX */
.box {
    max-width: 445px;
    height: auto;

    &__image {
        width: 50vw;
        max-block-size: 600px;
    }

    &__title {
        font-family: $fraunces-bold;
        font-size: 40px;
        font-weight: 900;
        line-height: 49px;
        color: #24303E;
        margin-bottom: 25px;
    }

    &__text {
        font-family: $barlow;
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        color: #808397;
        margin-bottom: 30px;
    }

    &__link {
        text-decoration: none;
        color: #24303E;
        font-family: $fraunces-bold;
        font-weight: 900;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 1px;
        text-transform: uppercase;

        &:hover {
            .yellow-line {
                opacity: 1;
            }

            .red-line {
                opacity: 1;
            }
        }
    }
}

/* La petite ligne en dessous des learn more */
.yellow-line {
    background-color: #FAD400;
    opacity: 0.25;
    width: 135px;
    height: 9px;
    border-radius: 28px;
    border: none;
    margin-left: -10px;
    margin-top: -12px;
}

.red-line {
    background-color: #FE7766;
    opacity: 0.25;
    width: 135px;
    height: 9px;
    border-radius: 28px;
    border: none;
    margin-left: -10px;
    margin-top: -12px;


}

/* GESTION DES 2 DERNIERE BOX (Cerise et orange) */
.box-different-left {
    width: 50vw;

    &__title {
        font-family: $fraunces-bold;
        font-size: 28px;
        font-weight: 900;
        line-height: 49px;
        color: #24554A;
    }

    &__text {
        font-family: $barlow;
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
        color: #3E7467;
        margin: 22px 0px 50px 0px;
    }
}

.box-different-right {
    width: 50vw;

    &__title {
        font-family: $fraunces-bold;
        font-size: 28px;
        font-weight: 900;
        line-height: 35px;
        color: #052C3B;
        opacity: 0.75;
    }

    &__text {
        font-family: $barlow;
        font-size: 16px;
        font-weight: 600;
        line-height: 27px;
        color: #19536C;
        margin: 42px 0px 50px 0px;
    }
}

.box-image-right {
    width: 50vw;

    &__title {
        font-family: $fraunces-bold;
        font-size: 28px;
        font-weight: 900;
        line-height: 35px;
        color: #052C3B;
        opacity: 0.75;
    }

    &__text {
        font-family: $barlow;
        font-size: 16px;
        font-weight: 600;
        line-height: 27px;
        color: #19536C;
        margin: 42px 0px 50px 0px;
    }
}

.box-image-left {
    width: 50vw;

    &__title {
        font-family: $fraunces-bold;
        font-size: 28px;
        font-weight: 900;
        line-height: 35px;
        color: #052C3B;
        opacity: 0.75;
    }

    &__text {
        font-family: $barlow;
        font-size: 16px;
        font-weight: 600;
        line-height: 27px;
        color: #19536C;
        margin: 42px 0px 50px 0px;
    }
}