/* GESTION DU FOOTER */
.footer {
    background-color: #90D4C6;
    height: 350px;
    text-align: center;
    color: #2C7566;
    text-align: center;

    &__logo {
        filter: invert(59%) sepia(14%) saturate(1466%) hue-rotate(118deg) brightness(96%) contrast(94%);
        height: 33px;
        padding-top: 72px;
    }
}

.nav-footer {
    &__links {
        text-decoration: none;
        color: #458D7E;
        font-family: $barlow;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;

        &:hover {
            color: white;
        }
    }

    &__items {
        margin-top: 40px;
    }
}

.social {
    &__image {
        width: 20px;

        &:hover {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(201deg) brightness(100%) contrast(1500%);
        }
    }

    &__items {
        margin-top: 88px;
    }
}