/* MIXIN POUR LES FORMS DES BOX 3ème ligne - gauche et droite */
@mixin row-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}